<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome Page</title>
</head>
<body>
	<h1>Welcome to our humbled page</h1>
	<%=welcomeMessage%>
	<footer>
	<p></p><%=dateNow%></p>
	</footer>
</body>
</html>