<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>results page</title>
</head>
<body>
	<h1>results page</h1>
	<h1>Here are results based on your input:</h1>
	<h3>Here is your latitude: <%=latitude%></h3>
	<h3>Here is your longitude: <%=longitude%></h3>
	<img src = "<%=parsedData.data[0].profile.image_url%>">
</body>
</html>